# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
Mimictalk_Talking_System/api_key.py

Mimictalk_Talking_System/SyncTalk/SyncTalk/

GPT-SoVITS/

test_data/
Mimictalk_Talking_System/backend/data/
Mimictalk_Talking_System/backend/temp/
Mimictalk_Talking_System/uploads/
Mimictalk_Talking_System/static/videos
Mimictalk_Talking_System/backend/local_ckpts
Mimictalk_Talking_System/backend/voice_manual_error.log
Mimictalk_Talking_System/backend/voice_manual.log