# Python
__pycache__/
.vscode
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
Mimictalk_Talking_System/api_key.py

Mimictalk_Talking_System/SyncTalk/SyncTalk/

GPT-SoVITS/

test_data/
Mimictalk_Talking_System/backend/data/
Mimictalk_Talking_System/backend/temp/
Mimictalk_Talking_System/uploads/
Mimictalk_Talking_System/static/videos
Mimictalk_Talking_System/backend/local_ckpts
Mimictalk_Talking_System/backend/voice_manual_error.log
Mimictalk_Talking_System/backend/voice_manual.log

# tfg-benchmark specific ignores
Mimictalk_Talking_System/tfg-benchmark/__pycache__/
Mimictalk_Talking_System/tfg-benchmark/*/__pycache__/
Mimictalk_Talking_System/tfg-benchmark/evaluation_results/
Mimictalk_Talking_System/tfg-benchmark/models/
Mimictalk_Talking_System/tfg-benchmark/*data/
Mimictalk_Talking_System/tfg-benchmark/*.dat

# MimicTalk specific ignores
Mimictalk_Talking_System/MimicTalk/data_util/face_tracking/3DMM/01_MorphableModel.mat
Mimictalk_Talking_System/MimicTalk/data_util/face_tracking/3DMM/3DMM_info.npy

# Deep3DRecon ignores
!/Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/.gitkeep
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/Exp_Pca.bin
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/01_MorphableModel.mat
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/BFM_model_front.mat
Mimictalk_Talking_System/MimicTalk/deep_3drecon/network/FaceReconModel.pb
Mimictalk_Talking_System/MimicTalk/deep_3drecon/checkpoints/*
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/BFM_exp_idx.mat
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/BFM_front_idx.mat
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/facemodel_info.mat
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/index_mp468_from_mesh35709.npy
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/mediapipe_in_bfm53201.npy
Mimictalk_Talking_System/MimicTalk/deep_3drecon/BFM/std_exp.txt
Mimictalk_Talking_System/MimicTalk/deep_3drecon/mesh_renderer/bazel-bin
Mimictalk_Talking_System/MimicTalk/deep_3drecon/mesh_renderer/bazel-mesh_renderer
Mimictalk_Talking_System/MimicTalk/deep_3drecon/mesh_renderer/bazel-out
Mimictalk_Talking_System/MimicTalk/deep_3drecon/mesh_renderer/bazel-testlogs

# Project specific directories
Mimictalk_Talking_System/MimicTalk/checkpoints/*
!/Mimictalk_Talking_System/MimicTalk/checkpoints/.gitkeep
Mimictalk_Talking_System/MimicTalk/data/*
!/Mimictalk_Talking_System/MimicTalk/data/.gitkeep
Mimictalk_Talking_System/MimicTalk/infer_out
Mimictalk_Talking_System/MimicTalk/rsync
Mimictalk_Talking_System/MimicTalk/.idea
Mimictalk_Talking_System/MimicTalk/.DS_Store
Mimictalk_Talking_System/MimicTalk/bak
Mimictalk_Talking_System/MimicTalk/tmp
Mimictalk_Talking_System/MimicTalk/mos
Mimictalk_Talking_System/MimicTalk/nbs
Mimictalk_Talking_System/MimicTalk/configs_usr/*
!/Mimictalk_Talking_System/MimicTalk/configs_usr/.gitkeep
Mimictalk_Talking_System/MimicTalk/egs_usr/*
!/Mimictalk_Talking_System/MimicTalk/egs_usr/.gitkeep
Mimictalk_Talking_System/MimicTalk/rnnoise
Mimictalk_Talking_System/MimicTalk/scripts_usr
Mimictalk_Talking_System/MimicTalk/infer_outs/*
Mimictalk_Talking_System/MimicTalk/venv_113/*
Mimictalk_Talking_System/MimicTalk/experiments/trials
Mimictalk_Talking_System/MimicTalk/flame_3drecon/*
Mimictalk_Talking_System/MimicTalk/temp/
Mimictalk_Talking_System/MimicTalk/kill.sh
Mimictalk_Talking_System/MimicTalk/datasets
Mimictalk_Talking_System/MimicTalk/data_util/imagenet_classes.txt
Mimictalk_Talking_System/MimicTalk/process_data_May.sh
Mimictalk_Talking_System/MimicTalk/env_prepare_reproduce.md
Mimictalk_Talking_System/MimicTalk/my_debug.py
Mimictalk_Talking_System/MimicTalk/utils/metrics/shape_predictor_68_face_landmarks.dat
Mimictalk_Talking_System/MimicTalk/_torchshow/
Mimictalk_Talking_System/MimicTalk/checkpoints_mimictalk
Mimictalk_Talking_System/MimicTalk/outside

# Voice_Model specific ignores
Mimictalk_Talking_System/MimicTalk/Voice_Model/runtime
Mimictalk_Talking_System/MimicTalk/Voice_Model/output
Mimictalk_Talking_System/MimicTalk/Voice_Model/logs
Mimictalk_Talking_System/MimicTalk/Voice_Model/SoVITS_weights*/
Mimictalk_Talking_System/MimicTalk/Voice_Model/GPT_weights*/
Mimictalk_Talking_System/MimicTalk/Voice_Model/TEMP
Mimictalk_Talking_System/MimicTalk/Voice_Model/weight.json
Mimictalk_Talking_System/MimicTalk/Voice_Model/ffmpeg*
Mimictalk_Talking_System/MimicTalk/Voice_Model/ffprobe*
Mimictalk_Talking_System/MimicTalk/Voice_Model/cfg.json
Mimictalk_Talking_System/MimicTalk/Voice_Model/speakers.json
Mimictalk_Talking_System/MimicTalk/Voice_Model/ref_audios
Mimictalk_Talking_System/MimicTalk/Voice_Model/tools/AP_BWE_main/24kto48k/*
!/Mimictalk_Talking_System/MimicTalk/Voice_Model/tools/AP_BWE_main/24kto48k/readme.txt
Mimictalk_Talking_System/MimicTalk/Voice_Model/.pdm.toml
Mimictalk_Talking_System/MimicTalk/Voice_Model/.pdm-python
Mimictalk_Talking_System/MimicTalk/Voice_Model/.pdm-build/
Mimictalk_Talking_System/MimicTalk/Voice_Model/__pypackages__/
Mimictalk_Talking_System/MimicTalk/Voice_Model/.ruff_cache/
Mimictalk_Talking_System/MimicTalk/Voice_Model/.pypirc