# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
api_key.py

SyncTalk/SyncTalk/

GPT-SoVITS/

test_data/
backend/data/
backend/temp/
uploads/
static/videos
backend/local_ckpts
backend/voice_manual_error.log
backend/voice_manual.log